@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,700&display=swap');

body {
    padding: 10px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    font-size: 24px;
}

input {
    font-size: 24px;
}

.user-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}

.card {
    border: 1px solid black;
    background-color: white;
    padding: 15px;
}

.card > .header {
    margin-bottom: .25rem;
    font-size: 24px;
}

.card > .body {
    font-size: 16px;
    color: #777;
}

.hide {
    display: none;
}